<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Boise .Net Developer User Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/Content/less/bootstrap.less" rel="stylesheet/less">
    <style>
        body, section
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/Content/less/responsive.less" rel="stylesheet/less">
    <script type="text/javascript" src="/Content/Scripts/less.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/Content/images/favicon.ico">
    <link rel="apple-touch-icon" href="/Content/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/images/apple-touch-icon-114x114.png">
</head>
<body data-spy="scroll" data-target=".nav-collapse" data-offset="60">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                <a class="brand" href="/#">Boise .Net Developer User Group</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="#Home">Home</a></li>
                        <li><a href="#Location">Location</a></li>
                        <li><a href="#Schedule">Schedule</a></li>
                        <li><a href="#Events">Events</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li style="margin-top: 5px;"><a href="https://twitter.com/netdug" class="twitter-follow-button pull-right"  data-show-count="false" data-size="large">Follow @netdug</a></li>
                    </ul>
                </div>
                
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        
        <!-- Masthead
            ================================================== -->
        <header class="page-header"> 
            <h1>The Boise .NET Developer User Group</h1>
            <p class="lead">Meets the third Thursday of each month at 6:30pm.</p>
        </header>

        <section id="Home">
            <div class="hero-unit ">
                <!-- DISPLAY CURRENT MONTH'S TOPIC -->
                <div class="alert alert-info ">
                    <h1 class="alert-heading pull-right">May 17</h1>
                    <ul class="unstyled">
                        <li><h2>NancyFX <small>Richard Cirerol</small></h2><p class="lead">Learn about the exciting open-source micro-framework for building .NET web applications</p></li>
                    </ul>
                </div>
                
                <!-- DISPLAY NEXT MONTH'S TOPIC -->
                <div class="well well-small">
                    <h2 class="alert-heading pull-right">June 21</h2>
                    <ul class="unstyled">
                        <li><h3> Fun with Powershell <small>Adam Clark</small></h3></li>
                    </ul>
                </div>
            </div>
        </section>
        
        <!-- Location
            ================================================== -->
        <section id="Location">
            <header class="page-header"> 
                <h1>Location</h1>
            </header>
            <address>
                <strong>Microsoft Boise</strong><br/>
                401 W Front, Suite 400<br/>
                Boise, ID 83702
            </address>
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Microsoft+Boise+401+W+Front,+Suite+400+Boise,+ID+83702&amp;ie=UTF8&amp;hq=Microsoft+Boise+401+W+Front,+Suite+400&amp;hnear=Boise,+Idaho+83702&amp;ll=43.611661,-116.201504&amp;spn=0.172486,0.275688&amp;t=m&amp;z=12&amp;iwloc=A&amp;cid=8709389908361776309&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=Microsoft+Boise+401+W+Front,+Suite+400+Boise,+ID+83702&amp;ie=UTF8&amp;hq=Microsoft+Boise+401+W+Front,+Suite+400&amp;hnear=Boise,+Idaho+83702&amp;ll=43.611661,-116.201504&amp;spn=0.172486,0.275688&amp;t=m&amp;z=12&amp;iwloc=A&amp;cid=8709389908361776309&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </section>
        
        
        <!-- Schedule
            ================================================== -->
        <section id="Schedule">
            <header class="page-header"> 
                <h1>Schedule 
                    <button class="btn btn-primary pull-right">Add Speaker</button>    </h1> 
            </header>
            <div class="row-fluid">
                <div class="span6">
                    <h3>2012</h3>
                    <dl class="dl-horizontal">
                        <dt>June 21</dt>
                        <dd><h4>Fun with Powershell <small>Adam Clark</small></h4></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>May 17</dt>
                        <dd><h4>NancyFX <small>Richard Cirerol</small></h4></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>April 19</dt>
                        <dd><h4>Claims-Based Identities <small>Steve Reece</small></h4></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>March 15</dt>
                        <dd><h4>Deploying to Azure <small>Scott Nichols</small></h4></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>February 16</dt>
                        <dd><h4>Web Testing with Selenium Page Objects <small>Adam Clark</small></h4></dd>
                        <dd><h4>Infinite Bitmaps with GDI+ <small>Paul Schaffer</small></h4></dd>
                        <dd><h4>Cool tools <small>Chris Brandsma</small></h4></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>January 19</dt>
                        <dd><h4>Knockout.js <small>Joel Feaster</small></h4></dd>
                        <dd><h4>Jenkins <small>Richard Clements (Bob the Janitor)</small></h4></dd>
                        <dd><h4>Protobuf.net <small>Paul Schaffer</small></h4></dd>
                    </dl>
                </div>
                <div class="span6">
                    <h3>2011</h3>
                    <dl class="dl-horizontal">
                        <dt>November 17</dt>
                        <dd>Open Spaces</dd>
                    </dl>
                </div>
            </div>
        </section>
        
        
        <!-- Events
            ================================================== -->
        <section id="Events">
            <header class="page-header">
                <h1>Events <small>Let go socialize!</small> 
                    <button class="btn btn-primary pull-right">Add Event</button></h1>
            </header>
            <table class="table table-striped">
                <thead>
                    <tr><th>When</th><th>What</th><th>Where</th><th></th></tr>
                </thead>
                <tbody>
                    <tr><td>June 2</td><td>Portland Code Camp</td><td>Eliot Center, Portland, Oregon</td><td><a target="blank" href="http://portlandcodecamp.org" class="btn btn-info btn-small "><i class="icon-info-sign icon-white"></i> More Info</a></td></tr>
                    <tr><td>June 16</td><td>Seattle Code Camp</td><td>DigiPen, Redmond, Washington</td><td><a target="blank" href="https://seattle.codecamp.us/" class="btn btn-info btn-small "><i class="icon-info-sign icon-white"></i> More Info</a></td></tr>
                </tbody>
            </table>
        </section>
    </div>
    
    <footer style="height: 400px;">
        
    </footer>
    <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Content/Scripts/jquery-1.7.2.min.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
</body>
</html>
